@model CoursesModel

<div class="jumbotron bg-dark text-center text-white p-4">
    <h1> Manage @ViewData["Title"] </h1>
    <a class="btn btn-outline-success mt-2" asp-action="Manage"> Back to Manage <i class="fa fa-arrow-left"></i> </a>
</div>

<div class="mt-5">
    <form asp-action="Delete" method="post">

        <input hidden="hidden" asp-for="Id" />
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" disabled asp-for="Name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Course Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Program</label>
            <input type="text" disabled asp-for="Program.Name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Program Name">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Department</label>
            <input type="text" disabled asp-for="Program.Department.Name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Department Name">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Program</label>
            <input type="text" disabled asp-for="Program.Name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Department Name">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea disabled class="form-control" placeholder="Enter Details of Course" asp-for="Description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="mb-3 text-center">
            <button class="btn btn-outline-danger"> Delete </button>
        </div>
    </form>
</div>